/* gray mode */
/* html {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=.95);
} */


/* click midium image */
/* Ref: https://bddxg.top/article/note/vitepress%E4%BC%98%E5%8C%96/%E7%82%B9%E5%87%BB%E5%9B%BE%E7%89%87%E6%94%BE%E5%A4%A7.html */

.medium-zoom-overlay {
    z-index: 20;
}
  
.medium-zoom-image {
    z-index: 21;
}

/* h1 text center */
.vp-doc h1 {
	text-align: center;
}

/* h2 ~ h5 add highlight */

.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6,
.vp-doc .header-anchor:before {
  color: unset !important;
  background: linear-gradient(to right, #6fbef7, #ffbb89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

/* dark font color fixed */
:root {
  --vp-c-text-dark-1: rgba(255, 255, 197, .86);
  --vp-c-text-dark-2: rgba(207, 216, 231, .6);
  --vp-c-text-dark-3: rgba(207, 216, 231, .38)
}
  
/* bolder 、blockquote style fixed */
.vp-doc strong {
  font-weight:bolder!important;
  color:var(--vp-c-brand);
  padding:0 4px
}
.vp-doc blockquote {
  border-left:unset!important;
  border-radius:4px;
  background-color:var(--vp-badge-tip-bg);
  position:relative
}
.vp-doc blockquote:before {
  content:"";
  position:absolute;
  left:0;
  width:4px;
  height:100%;
  border-radius:6px;
  background-color:var(--vp-c-brand-3)
}

/* code style fixed */
li>code,
table code,
p code {
  word-break:break-word;
  color:#ba89ff!important;
  font-weight:700
}

/* herf style fixed */
.vp-doc a {
  text-decoration:underline
}


/* page layout adjust */

@media (min-width: 1440px) {
  .VPSidebar {
    padding-left: 20px !important;
    width: 240px !important;
  }
  .VPNavBar .title {
    padding-left: 10px !important;
    width: 230px !important;
  }
  .VPContent.has-sidebar {
    padding-left: 250px !important;
    padding-right: 5vw !important;
  }
  .VPNavBar .curtain {
    width: 100% !important;
  }
  .VPNavBar .content {
    padding-left: 240px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 960px) {
  .VPDoc {
    padding: 32px 0 0 !important;
  }
  .VPNavBar .content {
    padding-left: 240px !important;
    padding-right: 0px !important;
  }
}
.VPNavBar {
  padding-right: 20px !important;
}
.VPNavBar .container {
  margin: unset;
  max-width: unset;
}
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}
.aside {
  max-width: 200px !important;
  padding-left: 0 !important;
}

/* ref cite footnote*/
/* 脚注超链接样式修正 */
.footnote-backref,
.footnote-ref a {
  padding-right: unset !important;
}

.footnote-item {
  font-style: italic;
  font-weight: bold;
}

/* icon chinese zodiac */

.chinese-zodiac {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10.5px;
  top: -1px;
  background: #fff;
  border: 1px solid #84b9e5;
  border-radius: 50%;
  cursor: pointer;
}


/* home page custom */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #bd34fe, #41d1ff)
}

/* applied to the index.md and the about.md */
.Layout:has(.VPHome) {
  background: url('https://images.bddxg.top/blog/20250304094352631.webp') no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  user-select: none
}

.dark .Layout:has(.VPHome) {
  background: url('https://images.bddxg.top/blog/202402152017530.webp') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--vp-c-text-dark-1);
  user-select: none;
  transition: 0.5s ease-in-out;
}

:root {
  --vp-c-text-dark-1: rgba(255, 255, 197, 0.86);
  --vp-c-text-dark-2: rgba(207, 216, 231, 0.6);
  --vp-c-text-dark-3: rgba(207, 216, 231, 0.38);
  --vp-c-text-light-1: rgba(21, 24, 24, 0.16);
}
